# maven #
target

logs

# eclipse #
.settings
.svn
.project
.classpath
*.log

# windows #
Thumbs.db

# Mac #
.DS_Store

# Package Files #
*.war
*.ear

# idea #
*.iml
.idea/
overlays
bin
dev
MP_verify_lvKCYtYMh7d9PmMu.txt
MP_verify_WJhHh8ANnw4VR88d.txt

