<!--pay_select_money-->
body{
  background-color: #fbf9fe;
}
.weui-wepay-pay-select{
    padding: 15px;
    position: relative;
    z-index: 1;
}
.weui-wepay-pay-select__title{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}
.weui-wepay-pay-select__info{
    font-size: 12px;
    color: #a6a4a5;
    text-align: center;
    margin-top: 6px;
}
.weui-wepay-pay-select__btn{
    margin-top: 78px;
}
.weui-wepay-pay-select__element{
    margin-top: 28px;
    margin-right: -12px;
    overflow: hidden;
}
.weui-wepay-pay-select__li{
    float: left;
    list-style-type: none;
    width: 33.33%;
    box-sizing: border-box;
    padding-right: 12px;
    padding-bottom: 12px;
}
.weui-wepay-pay-select__item{
    display: block;
    border: 1px solid #DADADA;
    color: #dadada;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 13px;
}
.weui-wepay-pay-select__item_on{
    border-color: #09ba07;
    color: #09ba07;
}
.weui-wepay-pay__info {
    font-size: 12px;
    color: #9e9e9e;
    margin-top: 16px;
    text-align: center;
}

<!--pay_input_money -->

.weui-wepay-pay-wrap{
  background-color: #fbf9fe;
}
.weui-msg{
  position: relative;
  z-index: 1;
}
.weui-wepay-pay {
  position: relative;
  z-index: 1;
  padding: 15px;
}
.weui-wepay-pay__inner {
  background-color: #FFFFFF;
  padding: 16px;
  position: relative;
  z-index: 0;
}
.weui-wepay-pay__inner:after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #DDDDDD;
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
}
.weui-wepay-pay__title {
  font-size: 12px;
  color: #333333;
  font-weight: normal;
}
.weui-wepay-pay__inputs {
  margin-top: 12px;
  padding-bottom: 18px;
  position: relative;
  z-index: 2;
  color: #333333;
}
.weui-wepay-pay__inputs:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #DDDDDD;
  color: #DDDDDD;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.weui-wepay-pay__strong {
  position: absolute;
  color: #000000;
  font-size: 28px;
  line-height: 1;
  left: -6px;
  top: -3px;
  font-weight: normal;
}
.weui-wepay-pay__input {
  padding-left: 28px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: 0;
  height: 40px;
  line-height: 40px;
  font-size: 40px;
}
.weui-wepay-pay__input::-webkit-textfield-decoration-container {
  background-color: transparent;
}
.weui-wepay-pay__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.weui-wepay-pay__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.weui-wepay-pay__input::-webkit-input-placeholder {
  color: #EEEEEE;
}
.weui-wepay-pay__intro {
  font-size: 12px;
  color: #9e9e9e;
  margin-top: 14px;
}
.weui-wepay-pay__info {
  font-size: 12px;
  color: #9e9e9e;
  margin-top: 16px;
  text-align: center;
}
.weui-wepay-pay__btn {
  margin-top: 12px;
}
.weui-wepay-logo-default{
  font-size: 16px;
}