<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>欢迎使用 IJPay</title>
</head>
<body>
<div>欢迎使用 IJPay -By Javen <br/><br>  交流群：723992875</div>
<h3>开源推荐</h3>
<ul>
    <li><code>TNWX</code> 微信系开发脚手架：<a href="https://gitee.com/javen205/TNWX">https://gitee.com/javen205/TNWX</a></li>
    <li><code>IJPay</code> 让支付触手可及：<a href="https://gitee.com/javen205/IJPay">https://gitee.com/javen205/IJPay</a></li>
    <li>SpringBoot 微服务高效开发 <code>mica</code> 工具集：<a href="https://gitee.com/596392912/mica">https://gitee.com/596392912/mica</a>
    </li>
    <li><code>Avue</code> 一款基于 vue 可配置化的神奇框架：<a href="https://gitee.com/smallweigit/avue">https://gitee.com/smallweigit/avue</a>
    </li>
    <li><code>pig</code> 宇宙最强微服务（架构师必备）：<a href="https://gitee.com/log4j/pig">https://gitee.com/log4j/pig</a></li>
    <li><code>SpringBlade</code> 完整的线上解决方案（企业开发必备）：<a href="https://gitee.com/smallc/SpringBlade">https://gitee.com/smallc/SpringBlade</a>
    </li>
</ul>
</body>
</html>