<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<link rel="stylesheet" href="https://act.weixin.qq.com/static/cdn/css/wepayui/0.1.1/wepayui.min.css">
<link rel="stylesheet" href="#(ctxPath)/static/css/order.css">
<title>广东东站汽车站</title>
</head>
<body class="order">

	<!-- 加载中弹层[[ -->
	<div class="popload hide">
		<div class="popload-main">
			<span class="popload-main-ico"></span>
			<p class="popload-main-txt">疯狂加载中...</p>
		</div>
	</div>
	<!-- 加载中弹层]] -->

	<section class="main">
		<div class="tips unpay-tips">
			<i class="weui-icon-warn icon-area"></i>
			您有未完成的订单
		</div>

		<ul class="order-content">
			<div class="order-line-border">
					<li class="line-area order-main">
						<dl class="info-line">
							<dd class="info-element station-name">华商商学院</dd>
							<dt class="info-label first-line">订 单 号：</dt><dd class="info-element">465464565665</dd>
						</dl>
						<dl class="info-line"><dt class="info-label">出发时间：</dt><dd class="info-element">2015年1月20日 12:20</dd></dl>
						<dl class="info-line"><dt class="info-label">应付金额：</dt><dd class="info-element"><span class="highlight price">￥315.0</span>共&nbsp;<span class="highlight">2</span>&nbsp;张</dd></dl>

						<div class="btn-area flex-box">
							<a href="#none" class="cancle-btn flex-1">取消订单</a>
							<a href="#none" class="pay-btn flex-1">立即付款</a>
						</div>
					</li>
			</div>
			<div class="order-line-border">
			<li class="line-area order-main">
				<dl class="info-line">
					<dd class="info-element station-name">华商商学院</dd>
					<dt class="info-label first-line">订 单 号：</dt><dd class="info-element">465464565665</dd>
				</dl>
				<dl class="info-line"><dt class="info-label">出发时间：</dt><dd class="info-element">2015年1月20日 12:20</dd></dl>
				<dl class="info-line"><dt class="info-label">应付金额：</dt><dd class="info-element"><span class="highlight price">￥315.0</span>共&nbsp;<span class="highlight">2</span>&nbsp;张</dd></dl>

				<div class="btn-area flex-box">
					<a href="#none" class="cancle-btn flex-1">取消订单</a>
					<a href="#none" class="pay-btn flex-1">立即付款</a>
				</div>
			</li>
		</div>
		</ul>



	</section>

</body>
</html>
