<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<link rel="stylesheet" href="https://act.weixin.qq.com/static/cdn/css/wepayui/0.1.1/wepayui.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
<link rel="stylesheet" href="#(ctxPath)/static/css/demos.css">
<link rel="stylesheet" href="#(ctxPath)/static/css/pay.css">
<title>商户模式-微信支付</title>
</head>
<body>
<body ontouchstart>
<div class="bd">
	<div class="page__bd">
		<header class='demos-header'>
			<h1 class="demos-title">微信支付</h1>
			<p class='demos-sub-title'>IJPay 让支付触手可及，微信H5支付</p>
		</header>
		<div class="weui-wepay-pay-wrap">
			<div class="weui-wepay-pay">
			    <div class="weui-wepay-pay__bd">
			        <div class="weui-wepay-pay__inner">
			            <h1 class="weui-wepay-pay__title">付款金额(元)</h1>
			            <div class="weui-wepay-pay__inputs"> <strong class="weui-wepay-pay__strong">￥</strong>
			                <input type="number" class="weui-wepay-pay__input" placeholder="请输入金额"></div>
			            <div class="weui-wepay-pay__intro">最多可输入金额500元</div>
			        </div>
			
			    </div>
			    <div class="weui-wepay-pay__ft">
			        <p class="weui-wepay-pay__info">支付金额给商户</p>
			        <div class="weui-wepay-pay__btn">
			            <a href="#(ctxPath)/wxpay/wapPay" class="weui-btn weui-btn_primary">立即支付</a>
			        </div>
			    </div>
			</div>
			<div class="weui-wepay-logos weui-wepay-logos_ft">
			    <img src="https://act.weixin.qq.com/static/cdn/img/wepayui/0.1.1/wepay_logo_default_gray.svg" alt="" height="16">
			</div>
		</div>
	</div>
</div>
<div class="weui-wepay-logos weui-wepay-logos_ft">
    <img src="https://act.weixin.qq.com/static/cdn/img/wepayui/0.1.1/wepay_logo_default_gray.svg" alt="" height="16">
</div>
</body>
<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="#(ctxPath)/static/layer/layer.js"></script>
</html>